.footer {
  background-color: #616161;
  color: #fff;
  padding: 34px 16px;
}

.footer .footer-text {
  line-height: 1;
  margin: 32px 0 16px;
}

.footer .footer-text a {
  color: #fff;
  text-decoration: underline;
}
