.list {
  background-color: #fff;
  color: #000;
}

.list .list-item {
  padding: 16px;
  font-size: 0;
}

.list .list-item + .list-item {
  border-top: 1px solid #ccc;
}

.list .list-item .item-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 12px;
}

.list .list-item .item-text {
  display: inline-block;
  line-height: 1;
}

.list .list-item .item-text > span {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0;
}